body {
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

#uploadForm {
    margin: 20px;
}

#postsContainer img {
    max-width: 100%;
    height: auto;
}

.post {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 10px;
}
